<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="hremail" value="it.hr@wallstreetenglish.in.th" />
    <add key="hruser" value="it.hr" />
    <add key="hrpassword" value="hr345!" />
    <add key="Admin_User" value=",CDs-ALL,CCOs-ALL,CECs-ALL,COACHs-ALL,Management,Corporate,ECs-ALL,ACC,HR,MKT,Promoter,SMs-ALL,Tele-MKT-Inbound,Tele-MKT-M,Tele-MKT,IT,TEACHERs-ALL," />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <add key="mail_from" value="it.report@wallstreetenglish.in.th"/>
    <add key="mailServer" value="192.168.88.135"/>
    <add key="mailServerPort" value="25"/>
    <add key="mailUser" value="it.report"/>
    <add key="mailPassword" value="Report345!"/>
    <add key="mail_ssl" value="false"/>

    <add key="email" value="satanan.s@wallstreetenglish.in.th" />
    <add key="ccemail" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SageConnnetionString" connectionString="Data Source=WSI-CLUSTER;Initial Catalog=WSE_HR;User ID=it.hr;Password=B@n@n@009!" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5.2" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5.2"/>-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="View/login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>